/*! main.css */

button.btn-default{

  border-bottom-width: 2px;
  border-top-width: 2px;


}

.btn.btn-default.correct:focus,
.btn-default.correct{
  border-top-color: #449d44;
  color: #449d44;
  outline: 0;
}

.btn.btn-default.wrong:focus,
.btn-default.wrong{
  border-bottom-color: #c9302c;
  color: #c9302c;
  outline: 0;
}

div.btn-group{
  margin-bottom: 10px;
}

.btn.btn-default{
  text-transform:capitalize;
}

.btn.btn-default.azul:active,
.btn.btn-default.azul.active{
  background-color: #30b8eb;
}

.btn.btn-default.amarelo:active,
.btn.btn-default.amarelo.active{
  background-color: #f1ea67;
}

.btn.btn-default.branco:active,
.btn.btn-default.branco.active{
  background-color: #ffffff;
}

.btn.btn-default.rosa:active,
.btn.btn-default.rosa.active{
  background-color: #e65f9f;
}

.center-text{
  text-align: center;
}

button.btn {
    border-radius: 0;
}
